@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  footer ul li {
    @apply opacity-50 hover:opacity-100 text-white leading-[30px] cursor-pointer mb-[10px];
  }

  form input,
  textarea,
  form select {
    @apply block h-[45px] px-[10px] bg-transparent rounded-lg border border-purple-50;
  }
  form .left label {
    @apply text-xl font-medium;
  }
  form .right div {
    @apply w-full flex items-center gap-[21px] mb-[10px];
  }
  form .right div label {
    @apply h-[45px] w-[50px] rounded-lg border border-violet-50 grid place-items-center text-white;
  }
  form .right div input {
    @apply flex-1;
  }

  .event-details .links a {
    @apply w-[50px] h-[45px] mb-[10px] rounded-lg border border-violet-50 grid place-items-center;
  }
  .event-details .links a svg {
    @apply text-indigo-600;
  }
}

.hero-banner {
  backdrop-filter: blur(10.033483505249023px);
  background: url("./assets/bannerBg.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event {
  background: linear-gradient(
      90deg,
      rgba(3, 3, 3, 0.4) 0%,
      rgba(16, 12, 12, 0) 100%
    ),
    linear-gradient(270deg, rgba(0, 0, 0, 0.1) 1.75%, rgba(58, 54, 54, 0) 99.7%);
  backdrop-filter: blur(10px);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
